@import '../../../../Assets/Typography/variables'; 
 .video-controls{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1.125vw;
  color: #fff;
 }
 .video-controls:hover{
    background: $videoControlSection;
 } 
 .video-controls-container{
    width: 100%;
    height: 50%;
    display: flex;
 }
 .icon{
    margin: 0px 1rem;
  height: 100%;
 }
.icon:hover, .volume-control-icon:hover{
    cursor: pointer;
}
 .video-controls-left{
    width: 50%;
  height: 100%;
  display: flex;
  padding: 0px 2vw;
  align-items: flex-end;
  align-items: center;
 }
 .play-icon{
   height: 100%;
   display: flex;
   align-items: center;
 }
 .volume-control-icon {
    white-space: nowrap;
  height: 100%;
  margin: 0px .2rem;
  }
  .volume{
    margin-left: 1rem;
}
 .video-controls-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 2vw;
    align-items: center;
 }