@import "../../Assets/Typography/variables";

.video-section {
  width: 65%;
}
.divider {
  width: 100%;
  height: 1px;
  background: $lightGray;
  margin: 1vw 0px;
}

@media screen and (max-width: 1000px){
  .video-section{
      width: 95%;
  }

}    